
/* General Commands */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #06aec49c, #07318dbb);
}

* {
    font-family: Lobster;
}


/* Font Face */
@font-face {
    font-family: AmdBmk;
    src: url(/Fonts/static/DynaPuff/DynaPuff-Regular.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(Fonts/Lobster/LobsterTwo-Regular.ttf);
}

/*   Main   */
#Main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*  About Ball scaling */
#CrazyBall {
    animation-name: SoccerBalldiv;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    display: inline-block;
}

#PadBall {
    width: 40px;
    height: 6px;
    background-color: #032e7e;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #0000ff8e;
    z-index: 91;
}

#CrazyBall {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 10px 8px 10px;
    overflow: hidden;
}

#SoccerBall {
    /* box-shadow: 0px 10px 5px #1e183b69; */
    height: 30px;
    border-radius: 40%;
    display: inline-block;
}

#Main img {
    width: 30px;
    animation-name: TheBall;
    /* animation-duration: 25s; */
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    box-shadow: 0px 10px 5px #1e183b4f;
    border-radius: 40%;
    z-index: 90;
}

/* Main Part */
#Main h1 {
    color: #330242;
    margin: 8px 0;
}

#Main h4 {
    color: #4a085e;
    margin: 15px 0;
}

#Topic {
    text-align: center;
    margin-bottom: 20px;
}

#Topic>span::after {
    content: "Ahmad Reza & Ali";
    text-decoration: none;
    color: #52117a;
    font-family: AmdBmk;
    padding: 5px 10px;
    border-radius: 6px;
    background: linear-gradient(180deg, #06aec4e7, #07318d3a);
}

/* ------------------------------------------------------------- */
/* Animation > Soccer Ball */
@keyframes SoccerBalldiv {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(500px, 0px);
    }
    37.5% {
        transform: translate(500px, 600px);
    }
    62.5% {
        transform: translate(-500px, 600px);
    }
    87.5% {
        transform: translate(-500px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes TheBall {
    0% {
        transform: translate(0px, 0px) scale(1.5, 1);
    }
    50% {
        transform: translate(0px, -20px)scale(1, 1.5);
    }
    100% {
        transform: scale(1.5, 1) translate(0px, 0px);
    }
}

/* @keyframes TheBall {
    0% {
        transform: none;
    }
    25% {
        transform: ;
    }
    12.5% {
        transform: rotate(2turn);
    }
    37.5% {
        transform: rotate(2turn);
    }
    62.5% {
        transform: rotate(-2turn);
    }
    87.5% {
        transform: rotate(-2turn);
    }
    100% {
        transform: rotate(0turn);
    }
} */
/* ------------------------------------------------------------- */


/*   Main - Box   */

#Main>#Box {
    width: 850px;
    height: 369px;
    border-radius: 10px;
    background: linear-gradient(90deg, #ffffff98, #c4d3f3bb);
    box-shadow: 0px 0px 10px rgb(22, 80, 116);
    position: relative;
}
/*  Box - Ball Station */
#Box>#Ball-Station {
    width: 60px;
    height: 10px;
    background-color: #4a085e;
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 5%;
}


/* Ground Part */
#Ground {
    display: inline-block;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 3%;
    background: linear-gradient(180deg, #06aec4c7, #07318ddc 70%);
}

/* Bax > Ball */

#MainBall {
    width: 40px;
    height: 40px;
    box-shadow:inset 0 0 5px #083ea386;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    left: 6.4%;
    border: 1.2px solid #36a8c442;
}

#Lap-Back{
    
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#Lap-Back #Lap{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  inset 0 0 10px -1px #17473d;
    background: linear-gradient(90deg, #06aec4c7, #07318ddc 70%);
}

#Ball-Place{
    position: absolute;
    bottom: 24px;
    right: 2.6%;
    opacity: .5;
}

/* ------------------------------------------------------------- */
/*    Main > Box > Animation Ball    */

@keyframes Gravity {
    0% {
        transform: none;
    }
    6% {
        transform: translate(42px, 0) ;
    }
    15% {
        transform: translate(180px, 297px)scale(1);
    }
    16% {
        transform: translate(180px, 302px)scale(1.6, 0.8);
    }
    22% {
        transform: translate(300px, 120px)scale(.8, 1.6);
    }
    29% {
        transform: translate(400px, 297px)scale(1);
    }
    30% {
        transform: translate(400px, 302px)scale(1.4, .8);
    }
    39% {
        transform: translate(480px, 190px)scale(1, 1.3);
    }
    49% {
        transform: translate(550px, 298px)scale(1);
    }
    49.6% {
        transform: translate(550px, 301px)scale(1.2, 1);
    }
    58% {
        transform: translate(620px, 250px)scale(1, 1.2);
    }
    69% {
        transform: translate(660px, 299px)scale(1);
    }
    69.4% {
        transform: translate(660px, 299px)scale(1.1,1);
    }
    79% {
        transform: translate(700px, 285px)scale(1, 1.1);
    }
    89% {
        transform: translate(720px, 299px);
    }
    100% {
        transform: translate(743px, 299px);
    }
}

@keyframes LapTop {
    0% {
        transform: none;
    }
    6% {
        transform:  rotate(.5turn);
    }
    15% {
        transform: rotate(1.5turn);
    }
    16% {
        transform: rotate(1.5turn);
    }
    22% {
        transform: rotate(2.3turn);
    }
    29% {
        transform: rotate(2.9turn);
    }
    39% {
        transform: rotate(3.5turn);
    }
    49% {
        transform: rotate(4turn);
    }
    58% {
        transform: rotate(4.5turn);
    }
    69% {
        transform: rotate(5turn);
    }
    79% {
        transform: rotate(5.3turn);
    }
    89% {
        transform: rotate(5.6turn);
    }
    100% {
        transform: rotate(6turn);
    }
}
/* ------------------------------------------------------------- */


/* -------------------------------- */
/* Hover Part */
#Box:hover #Lap-Back{
    animation-name: LapTop;
    animation-duration: 15s;
}

#Box:hover #MainBall {
    animation-name: Gravity;
    animation-duration: 15s;
    animation-timing-function: ease;
}
#Box:hover{
    cursor: none;
}
/* -------------------------------- */